<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row mb-4">
       <div class="col">
         <h1>Hello <%= userName %></h1>
     </div>
     <div >
        <a href="/homescreen/add" class="btn btn-primary">+add group</a>
        <a href="/homescreen/join" class="btn btn-primary">join group</a>
        
     </div>
   
     </div>
     </div>
   