<div class="container-fluid container-fluid-custom pb-5 mb-5">
     <div>
        <h1 class="breadcrumb-item active">
            Edite your Profile page
        </h1>                         
    </div>
    <div class="form-group mb-4">
        <label for="year" class="fw-bold">enter year of birth</label>
        <input type="year" class="form-control fs-4" id="year" name="year" required>
    </div>
    <div class="form-group mb-4">
        <label for="bio" class="fw-bold">enter short description about your self</label>
        <input type="bio" class="form-control fs-4" id="bio" name="bio" required>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/homescreen/profile" class="btn btn-primary">Profile</a>
    </div>
</div>
