<div class="container-fluid container-fluid-custom">

    <h2>About our website</h2>
    <p>At HiveMind, our mission is simple: 
        to simplify group collaboration and make staying organized easy and efficient.
         Whether you're planning family tasks, coordinating student projects, or managing employee tasks, HiveMind is here to keep everyone connected, informed, and on the same page Say goodbye to juggling WhatsApp, emails, and endless apps. HiveMind consolidates everything in one place.</p>
        <h2>Why “HiveMind”?</h2>
            <p>Just like a beehive, we believe great things happen when everyone works together. HiveMind brings the buzz of collaboration to life, making teamwork smooth, intuitive, and productive.</p></div>