<div class="container-fluid container-fluid-custom">

    <h2>About our website</h2>
    <p>At HiveMind, our mission is simple: 
     We believe that everyone has a story worth telling. Our platform is designed for those who love writing daily journals, allowing you to document your thoughts, emotions, and experiences freely. Whether you're journaling for yourself or sharing your entries with others, HiveMind provides a safe and creative space to record your journey and connect with a community of writers and thinkers</p>
        <h2>Why “HiveMind”?</h2>
            <p>Just like a beehive thrives on harmony and collaboration, HiveMind is a space where daily reflections and personal experiences come together. We aim to build a community that values self-expression through writing and encourages meaningful connections through shared journal entries.</p></div>
